* {
    margin: 0;
    padding: 0;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: rgb(252, 247, 247);
    background-color: rgba(66, 63, 63, 0.579);
  }